<select #mySelect (change)="(0)">
  <option value="alert-danger">alert-danger</option>
  <option value="alert-success">alert-success</option>
  <option value="alert-info">alert-info</option>
  <option value="alert-warning">alert-warning</option>
</select>

<div class="alert" [class]="mySelect.value" style="transition: all 0.2s">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi provident
  illo porro, adipisci nostrum libero, odio necessitatibus praesentium nobis
  alias aspernatur asperiores sapiente officia eligendi vel! Assumenda, aperiam.
  Iste, aliquid.
</div>
